<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Add a geocoder</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
</head>
<body>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
type="text/css"
/>
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<div id='map' style='width: 800px; height: 800px; margin-left: auto; margin-right: auto'></div>
 
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoibWF0dHdvb2RzIiwiYSI6ImNqemp4dGQyZjBldnQzY2s2bWZseWFvYmsifQ.67cPu_y_5PX1taViga_0Ow';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mattwoods/cjzldkl2o5lea1cp9wofnxm8c',
center: [-79.4512, 43.6568],
zoom: 13
});
 
map.addControl(
new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl
})
);
</script>
 
</body>
</html>